# Operators:

In [ ]:
1. Arithmetic operators
2. Logical
3. Relational
4.Assigment
5.Bitwise 
6.Other operators

#### Arithmetic Operators

In [ ]:
+,-,/,//,*,**,%

In [5]:
#Example program to perform arithmetic operations
a=5.3
b=3
print("Add:",a+b)
print("Sub:",a-b)
print("Div:",a/b)
print("Mod:",a%b)
print("Floor Div:",a//b)
print("Power:",a**2)

Add: 8.3
Sub: 2.3
Div: 1.7666666666666666
Mod: 2.3
Floor Div: 1.0
Power: 28.09

In [8]:
#arithmetic with strings (+,*)
s1="venky"
s2="Naidu"
s3=s1+s2
print(s3)
s3

venkyNaidu

'venkyNaidu'

In [11]:
# one string and one integer
s1="Hello"
x=10
s3=s1+x
s3

TypeError: can only concatenate str (not "int") to str

In [12]:
#String with float
s1="Hello"
f=10.5
s3=s1+f
s3

TypeError: can only concatenate str (not "float") to str

In [65]:
#String multiplication (*)
s1="Hello"
x=30
s3=s1*x
s3

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [14]:
print("Hello"*3)

HelloHelloHello

In [15]:
#multi with float
print("Hello"*10.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [16]:
#multiply string with string
s1="Hello"
s2="Good Morning"
s3=s1*s2
s3

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
#power
s1="Hello"
s2=s1**2
s2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

### Logical Operators

In [ ]:
&, ||, !   ---> True or False 
True ---> Other than Zero (0)   example: 10,-12,9,8
False --> Zero (0)  --> 0

In [18]:
#Example1
print(10&0)

0

In [22]:
a=10
b=20
print(a>0&b<10)

True

In [26]:
print(True & True)

True

In [28]:
print(True | False)

True

In [29]:
print(False | True)

True

In [33]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [34]:
a=10
b=20
print(a or b)

10

In [35]:
a=10
b=20
print(b or a)

20

In [37]:
a=10
b=0
print(b or a)

10

In [38]:
a=0
b=0
print(a or b)

0

In [39]:
a=10
b=20
print(a and b)

20

In [43]:
a=30
b=0
print(b and a)

0

In [44]:
a=0
b=20
print(a and b)

0

In [45]:
a=0
b=0
print(a and b)

0

In [46]:
print(not True)

False

In [47]:
print(not 20)

False

In [48]:
print(not 0)

True

### Relational operators

In [ ]:
<,<=,>,>=,==,!=

In [49]:
print(10<20)

True

In [50]:
print(10>20)

False

In [51]:
a=10
b=20
print(a<b)

True

In [53]:
pin="1234"
PIN="1234"
print(pin==PIN)

True

In [54]:
print(pin!=PIN)

False

In [55]:
a=10
b=20
print(a<=b)

True

In [56]:
a=10
b=10
print(a<=b)

True

In [57]:
a=20
b=10
print(a>=b)

True

In [58]:
a=10
b=10
print(a>=b)

True

### Assignment operator

In [ ]:
=

In [ ]:
a=10
a--> L Value
10 ---> R Value

In [59]:
a=10
a

10

In [60]:
10=a
a

SyntaxError: can't assign to literal (<ipython-input-60-613eb97c12ee>, line 1)

In [61]:
a=10
b=a
b

10

In [62]:
a=x
a

3

In [66]:
p=x
p

30

In [67]:
a=2
a+=10  #a=a+10
a

12

In [68]:
a-=10
a

2

In [69]:
a*=10
a

20

In [72]:
a=20
a//=10
a

2

In [73]:
a**=4
a

16

### Bitwise Operatos

In [ ]:
& , |, ^, ~, << ,>>

In [1]:
print(40&10)

8

In [2]:
print(10&12)

8

In [3]:
print(40|10)

42

In [4]:
print(40^10)

34

In [5]:
print(10^12)

6

In [6]:
print(~10)

-11

In [7]:
print(~12)

-13

In [8]:
print(~0)

-1

In [9]:
print(~255)

-256

In [10]:
print(~256)

-257

In [11]:
print(~-1)

0

In [12]:
print(~-255)

254

In [ ]:
<<

In [13]:
print(10<<1)

20

In [14]:
print(12<<1)

24

In [15]:
print(255<<1)

510

In [ ]:
>>

In [16]:
print(10>>1)

5

In [17]:
print(17>>1)

8

### Other Operators

1. Identity Operators
2. Membership Operators

1. Identity Operators

id()

is
is not

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
a=10
b=10
print(a is b)

True

In [20]:
print(id(a))
print(id(b))

140712412684976
140712412684976

In [21]:
x=10
y=20
print(x is y)
print(x is not y)

False
True

In [22]:
print(id(x))
print(id(y))

140712412684976
140712412685296

2. Membership Operators

in 
not in

In [23]:
l=[10,20,30,40,50,60]
print(10 in l)

True

In [24]:
l=[10,20,30,40,50,60]
print(100 in l)

False

In [25]:
l=[10,20,30,40,50,60]
print(100 not in l)

True

In [26]:
s="Hello Venky Good Evening"
print("Hello" in s)
print("hello" in s)

True
False

In [27]:
s="Hello Venky Good Evening"
print("Hello" in s)
print("hello" not in s)

True
True