 range data type is used to create a sequence of numbers

Syntax:

case 1:
range(x)

0 -----x-1

case 2:

range(x,y)
x ---> is initial value
y ---> is ending value

case 3:

range(x,y,z)
x --> initial value
y --> is ending value

z --> is mean difference

## CASE 1

In [1]:
# range(x)
x=range(10)
print(x)

range(0, 10)

In [2]:
#printing of range of values
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# sample program for range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## CASE 2

In [4]:
# range(x,y)
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [5]:
# range example2
for i in range(20,10):
    print(i)

In [6]:
#range example3
for i in range(10.5, 20.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

## CASE 3

In [7]:
#range(x,y,z)
for i in range(10,30,2):
    print(i)

10
12
14
16
18
20
22
24
26
28

In [8]:
print(range(10,20))

range(10, 20)

In [9]:
x=list(range(10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
y=list(range(10,20))
print(y)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
z=list(range(10,30,3))
print(z)

[10, 13, 16, 19, 22, 25, 28]

In [12]:
for i in range(10.3,50):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

### range with tuple()

In [13]:
x=tuple(range(10))
print(x)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
x=tuple(range(10,30))
print(x)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29)

In [16]:
x=tuple(range(10,30,3))
print(x)

(10, 13, 16, 19, 22, 25, 28)

### range with set

In [17]:
x=set(range(10))
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
x=set(range(10,20))
print(x)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [19]:
x=set(range(10,20,3))
print(x)

{16, 10, 19, 13}

In [20]:
print(type(x))

<class 'set'>

In [21]:
x=tuple(list(range(10)))
print(x)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:
t=(10,20,[30,40,50],60)
print(t)

(10, 20, [30, 40, 50], 60)

In [23]:
s="Venky Naidu"
t=tuple(s)
print(t)

('V', 'e', 'n', 'k', 'y', ' ', 'N', 'a', 'i', 'd', 'u')

In [24]:
t=('v','e','n','k','y')
s=str(t)
print(s)

('v', 'e', 'n', 'k', 'y')

In [25]:
s="venky     naidu"
print(s)

venky     naidu

In [26]:
s="venky.naidu"
print(s)

venky.naidu

In [27]:
s="venky(naidu)"
print(s)

venky(naidu)

In [28]:
s="venky\\naidu"
print(s)

venky\naidu

In [29]:
s="Venkyy\bnaidu"
print(s)

Venkyynaidu

In [30]:
s="venky\tnaidu"
print(s)

venky	naidu

In [31]:
s="venky\vnaidu"
print(s)

venkynaidu

In [33]:
s="venky\rnaidu"
print(s)

naidu